<div class="aba-inicial">
    <button routerLink="/home"> Home</button>
</div>

<h1>Lista de Livros</h1>

<button> Adicionar </button>

<div *ngIf="autores.length > 0 && erroListaAutores == ''">
     <table>
        <tr>
            <th>Nome</th>
            <th>Alterar/Remover</th>
        </tr>
        <tr *ngFor="let autor of autores" >
            <td>
                {{autor.nome}}
            </td>
            <td>
                <button routerLink="/altera-autores"> Alterar </button>
                <button (click)="solicitacaoRemocaoAutor(autor)"> Remover </button>
            </td>
        </tr>
     </table>
</div>

<div *ngIf="autores.length <= 0 && erroListaAutores == ''">
    não tem livros 
</div>

<div *ngIf="erroListaAutores != ''">
    {{erroListaAutores}}
</div>

<div *ngIf="erroRemoverAutor != ''">
    {{erroRemoverAutor}}
</div>

<div *ngIf="sucessoRemoverAutor != ''">
    {{sucessoRemoverAutor}}
</div>